.outer-modal {
  &.action {
    bottom: 151px;

    .modal {
      top: initial;
      left: initial;
      right: initial;
      bottom: 5%;
      min-width: 100%;
      background-color: transparent;

      .contents {
        width: max-content;
        margin: auto;
        background-color: #f6f6f6;
        text-align: center;
        padding: 20px 20px 0 20px;

        button {
          background-color: blue;
          color: white;
          padding: 5px;
          margin: 10px 0 20px 0;
        }
      }
    }
  }
}
