@import "colors";

.auth-informational {
  text-align: center;
  font-size: 26px;
  color: $darkblue;
  padding-bottom: 10px;
}

.auth-group {
  background-color: $green;
  min-width: max-content;
  width: 40%;
  margin: auto;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 1px $darkgray;

  input {
    padding: 5px;
    font-size: 12px;
    border: 1px solid $darkgray;
    margin: 5px;
    cursor: text;
  }

  input[type=submit] {
    background-color: $lightblue;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px $darkgray;
    border: none;
    outline: none;
    cursor: pointer;
  }

  input[type=checkbox] {
    cursor: pointer;
  }

  label {
    font-size: 12px;
  }

  .link-to {
    font-size: 14px;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

  }

  #error_explanation {
    margin: auto;
    width: max-content;
    font-size: 14px;

    h2 {
      font-weight: bold;
    }

    ul {
      padding: 2px;
    }

    li {
      font-size: 12px;
      color: #cb0000;
    }
  }
}
