@import "colors";

.board {
  width: 1200px;
  margin: 10px auto;
  background-color: $green;
  border: 5px solid $green;

  .row {
    background-color: $board-green;

    .tile-data {
      box-sizing: border-box;
      font-size: 11px;
      text-transform: uppercase;
      text-align: center;

      &.end-space {
        background-color: #00e0a4c7;
      }

      .title {
        font-weight: 600;
      }
      .title, .image, .description, .color {
        box-sizing: border-box;
      }
    }

    .corner {
      display: inline-block;
      vertical-align: top;

      .tile-data {
        width: 150px;
        height: 150px;
        border: 1px solid black;
        position: relative;

        .title {
          position: absolute;
          font-size: 17px;

          &.free-parking {
            transform: rotate(135deg);
            top: 105px;
            right: 12px;

            span {
              position: absolute;

              &:nth-child(2) {
                top: 110px;
                left: -15px;
              }
            }
          }

          &.go-to-jail {
            transform: rotate(225deg);
            top: 139px;
            left: 49px;

            span {
              position: absolute;

              &:nth-child(1) {
                width: 58px;
              }
              &:nth-child(2) {
                top: 104px;
                left: 9px;
              }
            }
          }

          &.in-jail {

            span {
              position: absolute;

              &:nth-child(1) {
                transform: rotate(90deg);
                top: 45px;
                left: -2px;
              }
              &:nth-child(2) {
                top: 116px;
                left: 55px;
              }
            }
          }

          &.go {
            transform: rotate(315deg);
            left: -9px;
            top: 22px;
            font-size: 11px;
            width: 100px;
          }
        }

        .image {
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          height: 100%;

          &.go {
            background-image: url('go.png');
          }

          &.go-to-jail {
            background-size: 75%;
            background-image: url('go-to-jail.png');
          }

          &.in-jail {
            height: 75%;
            background-position: 40px -2px;
            background-image: url('in-jail.png');
          }

          &.free-parking {
            background-size: 70%;
            background-image: url('free-parking.png');
          }
        }
      }
    }

    .tile {
      position: relative;

      .tile-data {
        width: 100px;
        height: 150px;

        .color {
          width: 100%;
          height: 15%;
          border-bottom: 1px solid black;

          &.brown {
            background-color: $tile-brown;
          }
          &.light-blue {
            background-color: $tile-light-blue;
          }
          &.purple {
            background-color: $tile-purple;
          }
          &.orange {
            background-color: $tile-orange;
          }
          &.red {
            background-color: $tile-red;
          }
          &.yellow {
            background-color: $tile-yellow;
          }
          &.green {
            background-color: $tile-green;
          }
          &.dark-blue {
            background-color: $tile-dark-blue;
          }
          &.white, &.black, &.no-color {
            border-bottom: none;
            height: 5%;
          }
        }

        .title {
          padding: 2px;
          height: 28%;

          &.chance, &.community-chest, &.electric-company, &.water-works, &.railroad {
            height: 20%;
          }
          &.luxury-tax, &.income-tax {
            font-size: 17px;
          }
        }

        .image {
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          height: 45%;

          &.railroad {
            height: 63%;
            background-image: url('railroad.png');
          }

          &.electric-company {
            height: 63%;
            background-image: url('electric-company.png');
          }

          &.water-works {
            height: 63%;
            background-image: url('water-works.png');
          }

          &.chance {
            height: 75%;
            background-image: url('chance-blue.png');
          }

          &.community-chest {
            height: 50%;
            background-image: url('community-chest.png');
          }

          &.luxury-tax {
            height: 55%;
            background-image: url('luxury-tax.png');
          }

          &.income-tax {
            height: 55%;
            background-image: url('income-tax.png');
          }
        }

        .description {
          height: 12%;
          font-size: 14px;

          &.community-chest {
            font-size: 10px;
            height: 25%;
          }
        }
      }
    }

    &.top {
      width: 1200px;

      .tile {
        display: inline-block;
        vertical-align: top;

        .tile-data {
          transform: rotate(180deg);
          border-top: 1px solid black;
          border-bottom: 1px solid black;
          border-right: 1px solid black;

          .image.chance {
            background-image: url('chance-blue.png'); // need to handle chance specifically for different colors
          }
        }
        &:nth-child(2) {
          .tile-data {
            border-right: none;
          }
        }
      }
    }

    &.left {
      width: 150px;
      display: inline-block;
      vertical-align: top;

      .tile {
        width: 150px;
        height: 100px;

        .tile-data {
          position: absolute;
          left: 25px;
          top: -25px;
          transform: rotate(90deg);
          border-left: 1px solid black;
          border-bottom: 1px solid black;
          border-top: 1px solid black;
        }
        &:nth-child(1) {
          .tile-data {
            border-left: none;
          }
        }
      }
    }

    &.right {
      width: 150px;
      display: inline-block;
      vertical-align: top;

      .tile {
        width: 150px;
        height: 100px;

        .tile-data {
          position: absolute;
          left: 25px;
          top: -25px;
          transform: rotate(-90deg);
          border-right: 1px solid black;
          border-top: 1px solid black;
          border-bottom: 1px solid black;

          .image.chance {
            background-image: url('chance-orange.png'); // need to handle chance specifically for different colors
          }
        }
        &:nth-child(1) {
          .tile-data {
            border-right: none;
          }
        }
      }
    }

    &.bottom {
      width: 1200px;

      .tile {
        display: inline-block;
        vertical-align: top;

        .tile-data {
          border-top: 1px solid black;
          border-bottom: 1px solid black;
          border-left: 1px solid black;

          .image.chance {
            background-image: url('chance-pink.png'); // need to handle chance specifically for different colors
          }
        }
        &:nth-child(2) {
          .tile-data {
            border-left: none;
          }
        }
      }
    }
  }
}
