@import "colors";

.board {
  .row {
    &.middle {
      width: 900px;
      display: inline-block;
      vertical-align: top;
      height: 900px;
      position: relative;

      .middle-content {
        transform: rotate(315deg);
        position: absolute;
        width: 900px;
        height: 900px;
        box-sizing: border-box;

        .card, .monopoly-logo {
          margin: auto;
        }

        .monopoly-logo {
          height: 650px;
          background-image: url('logo.png');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center 162px;
        }

        .card {
          border: 1px dashed black;
          box-sizing: border-box;
          width: 200px;
          height: 125px;
          &.community-chest {
            background-color: rebeccapurple;
          }
          &.chance {
            background-color: orange;
          }
        }
      }
    }
  }
}
