@import "colors";

.board {
  width: 1200px;
  margin: 10px auto;
  background-color: $green;
  border: 5px solid $green;

  .row {
    background-color: #a8e2d1;

    .tile-data {
      box-sizing: border-box;
      font-size: 11px;
      text-transform: uppercase;
      text-align: center;
    }

    .corner {
      display: inline-block;
      vertical-align: top;

      .tile-data {
        width: 150px;
        height: 150px;
        border: 1px solid black;

        .image {
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          height: 100%;

          &.go {
            background-image: url('go.png');
          }

          &.go-to-jail {
            background-size: 75%;
            background-image: url('go-to-jail.png');
          }

          &.in-jail {
            height: 75%;
            background-position: 40px -2px;
            background-image: url('in-jail.png');
          }

          &.free-parking {
            background-size: 70%;
            background-image: url('free-parking.png');
          }
        }
      }
    }

    .tile {
      .tile-data {
        width: 100px;
        height: 150px;

        .color {
          width: 100%;
          height: 15%;
          border-bottom: 1px solid black;

          &.brown {
            background-color: $tile-brown;
          }
          &.light-blue {
            background-color: $tile-light-blue;
          }
          &.purple {
            background-color: $tile-purple;
          }
          &.orange {
            background-color: $tile-orange;
          }
          &.red {
            background-color: $tile-red;
          }
          &.yellow {
            background-color: $tile-yellow;
          }
          &.green {
            background-color: $tile-green;
          }
          &.dark-blue {
            background-color: $tile-dark-blue;
          }
          &.white, &.black {
            border-bottom: none;
          }
        }

        .title {
          padding: 2px;
          height: 20%;
        }

        .image {
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          height: 50%;

          &.railroad {
            background-image: url('railroad.png');
          }

          &.electric-company {
            background-image: url('electric-company.png');
          }

          &.water-works {
            background-image: url('water-works.png');
          }

          &.chance {
            background-image: url('chance.png');
          }

          &.community-chest {
            background-image: url('community-chest.png');
          }

          &.luxury-tax {
            background-image: url('luxury-tax.png');
          }
        }

        .price {
          height: 10%;
        }
      }
    }

    &.top {
      width: 1200px;

      .tile {
        display: inline-block;
        vertical-align: top;

        .tile-data {
          transform: rotate(180deg);
          border-top: 1px solid black;
          border-bottom: 1px solid black;
          border-right: 1px solid black;
        }
        &:nth-child(2) {
          .tile-data {
            border-right: none;
          }
        }
      }
    }

    &.left {
      width: 150px;
      display: inline-block;
      vertical-align: top;

      .tile {
        width: 150px;
        height: 100px;
        position: relative;

        .tile-data {
          position: absolute;
          left: 25px;
          top: -25px;
          transform: rotate(90deg);
          border-left: 1px solid black;
          border-bottom: 1px solid black;
          border-top: 1px solid black;
        }
        &:nth-child(1) {
          .tile-data {
            border-left: none;
          }
        }
      }
    }

    &.middle {
      width: 900px;
      display: inline-block;
      vertical-align: top;
      height: 900px;
    }

    &.right {
      width: 150px;
      display: inline-block;
      vertical-align: top;

      .tile {
        width: 150px;
        height: 100px;
        position: relative;
        .tile-data {
          position: absolute;
          left: 25px;
          top: -25px;
          transform: rotate(-90deg);
          border-right: 1px solid black;
          border-top: 1px solid black;
          border-bottom: 1px solid black;

        }
        &:nth-child(1) {
          .tile-data {
            border-right: none;
          }
        }
      }
    }

    &.bottom {
      width: 1200px;

      .tile {
        display: inline-block;
        vertical-align: top;

        .tile-data {
          border-top: 1px solid black;
          border-bottom: 1px solid black;
          border-left: 1px solid black;
        }
        &:nth-child(2) {
          .tile-data {
            border-left: none;
          }
        }
      }
    }
  }
}
