@import "colors";

.board {
  .row {
    &.middle {
      width: 900px;
      display: inline-block;
      vertical-align: top;
      height: 900px;
      position: relative;

      .middle-content {
        transform: rotate(315deg);
        position: absolute;
        width: 900px;
        height: 900px;
        box-sizing: border-box;

        .card, .monopoly-logo {
          margin: auto;
        }

        .monopoly-logo {
          height: 650px;
          background-image: url('logo.png');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center 162px;
        }

        .card {
          border: 1px dashed black;
          box-sizing: border-box;
          width: 200px;
          height: 125px;

          .logo {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
          }

          &.community-chest {
            background: linear-gradient(#a3e7fe, #00aef5);
            .logo {
              background-image: url('community-chest.png');
            }
          }
          &.chance {
            background: linear-gradient(#ff6800, #ff8c00);
            .logo {
              background-image: url('chance-white.png');
            }
          }
        }
      }
    }
  }
}
