$darkgray: #4E4D4D;
$green: #2CD79F;
$lightblue: #03A9F4;
$darkblue: #007AB1;
$red: #ff000d;

$board-green: #a8e2d1;
$tile-brown: #80543b;
$tile-light-blue: #71e1ff;
$tile-purple: #db5dda;
$tile-orange: #ffa825;
$tile-red: #F72F2F;
$tile-yellow: #F5F320;
$tile-green: #32be07;
$tile-dark-blue: #2258df;

$player-boot: #da1564;
$player-car: #9d0ab5;
$player-cat: #272ae4;
$player-dog: #26fcff;
$player-hat: #58ff26;
$player-ship: #e0e628;
$player-thimble: #F4901C;
$player-wheelbarrow: #FF0DEE;

$house: #26bf26;
$hotel: #e60b0b;
