/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when flip class added */
.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
  height: 100%;
	transition: 1.0s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
  height: 100%;
  width: 100%;
	backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.flip-link {
  padding-top: 5px;

  span {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
  }
}
