.main-logo {
  background-image: url('logo.png');
  background-size: contain;
  height: 125px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 10px;
}

.nav-logo {
  background-image: url(logo.png);
  background-size: contain;
  width: 33%;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
}
