@import "colors";

.nav-group {
  background-color: $green;
  border-bottom: 1px solid $lightblue;
  padding: 2px 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;

  form.nav-item {
    text-align: end;
  }

  .nav-item {
    width: 33%;
    margin: auto;
    color: white;
    font-weight: bold;
  }

  input[type=submit] {
    background-color: $lightblue;
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
    outline: none;

    &:hover {
      background-color: $darkblue;
      cursor: pointer;
    }
  }
}
