@import 'colors';
@import url('https://fonts.googleapis.com/css?family=Tajawal:400,700');

.property-card {
  font-family: 'Tajawal', sans-serif;
  border: 1px solid #E0E0E0;
  width: 300px;
  height: 450px;
  box-sizing: border-box;
  padding: 10px;

  .property-data {
    height: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 10px;

    .property-image {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 40%;

      &.railroad {
        background-image: url('railroad.png');
      }

      &.electric-company {
        background-image: url('electric-company.png');
      }

      &.water-works {
        background-image: url('water-works.png');
      }
    }

    .railroad-name, .utility-name {
      font-size: 30px;
      text-transform: uppercase;
      font-weight: bold;
      height: 20%;
      padding: 20px 0px;
      box-sizing: border-box;
    }

    .title-group {
      height: 20%;
      box-sizing: border-box;
      border: 1px solid black;
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px 0px;

      .title-deed {
        font-size: 13px;
      }

      .title-name {
        font-size: 22px;
      }
    }

    .rent-group {
      height: 60%;
      box-sizing: border-box;
      padding: 10px 0px;

      &.railroad {
        height: 40%;
      }

      .rent {
        display: flex;
        justify-content: space-between;
        padding: 5px 0px;
        font-size: 18px;

        .rent-label {
          .house {
            color: $house;
          }

          .hotel {
            color: $hotel;
          }
        }

        .rent-price {

        }
      }
    }

    .rent-description {
      font-size: 18px;
      height: 40%;

      div {
        height: 50%;
        box-sizing: border-box;
        padding: 10px;
      }
    }

    .cost-group {
      height: 20%;
      box-sizing: border-box;
      border-top: 1px solid black;
      padding: 10px 0px;

      .cost {
        display: flex;
        justify-content: space-between;
        padding: 5px 0px;
        font-size: 18px;

        .cost-label {

        }

        .cost-price {
          position: relative;

          span {
            position: absolute;
            font-size: 10px;
            top: 19px;
            right: 0px;
            white-space: nowrap;
          }
        }
      }
    }

    .back-title-group {
      text-transform: uppercase;
      font-size: 22px;
      height: 30%;
      padding: 10px;
      box-sizing: border-box;
    }

    .mortgage-group {
      text-transform: uppercase;
      font-size: 22px;
      height: 60%;
      padding: 0px 25px;

      .unmortgage-value {
        margin-top: 20px;
      }
    }

    .back-information {
      height: 10%;
      font-size: 14px;
    }
  }
}

.back {
  .property-data {
    background-color: #505050;
    color: lightgray;
  }
}
