@import 'colors';

.outer-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(#D2D2D2,.62);

  &.error {
    z-index: 1000
  }

  .error {
    height: 210px;
    color: black;
    background: #f3e9e8;
    border: 5px solid #d3080c;

    h2 {
      background: #d3080c;
      color: white;
    }

    .error-group {
      padding: 10px 0 0 10px;

      .error-message {
        font-size: 12px;
        color: #d3080c;
        margin-left: 10px;
        margin-top: 5px;
      }
    }

    .error-shrug {
      font-size: 60px;
      color: #d3080c;
      text-align: center;
    }

    .close {
      background: #f3e9e8;
    }
  }
}
