@import "colors";

.outer-modal {

  .token-selection {
    border: 5px solid $green;
    background-color: $board-green;
    max-height: 225px;
    min-height: 150px;

    h2 {
      color: white;
      background-color: $green;
    }

    .token {
      width: 25%;
      height: 50px;
      max-width: none;
      box-sizing: border-box;
      border-left: 5px solid $board-green;
      border-right: 5px solid $board-green;

      &:hover {
        background-color: #71c9f1;
      }

      &.selected {
        background-color: $lightblue;
      }
    }

    .action .submit {
      padding: 5px;
      font-size: 16px;
      font-weight: bold;
      background-color: $lightblue;
      color: white;
      cursor: pointer;
      margin-bottom: 10px;

      &[disabled] {
        pointer-events: none;
        background-color: #03a9f452;
      }
    }

    .warning {
      width: 95%;
      margin: auto;
      margin-bottom: 10px;
      margin-top: 0px;
      color: #ff7e3d;
      font-weight: bold;
      font-size: 13px;
    }
  }

}
